.btn-default:focus, .btn-default:hover, .btn-default, .open .dropdown-toggle.btn-default {
    color: #333!important;
}
.modal-create-link {
    width: 150px;
    background-color: blue; 
    border: 1px solid transparent;
    color: white;
    border-radius: 6px;
}
.modal-create-link-new {
    width: 150px;
    background-color: #ff9900; 
    border: 1px solid transparent;
    color: white;
    border-radius: 6px;
}
#tbodyLink td {
     vertical-align: middle;
}