.info-box-icon{
	width: 42px !important;
	font-size: 24px !important;
}
.info-box-content{
	margin-left: 42px !important;
}

.info-box-text{
	overflow: visible !important;
	text-transform : none !important;
    font-size: 13px !important;
    z-index: 99;

}
.fix-font{
	font-size: 10px !important;
}
.info-box-number{
	font-size: 13px !important;
}
.fix-order{
	float: right;
    margin-right: 0;
    right: 10px;
}
.fix-padding-bottom{
	padding-bottom: 15px !important;
}
.progress-description{
	font-size: 12px !important;
}

.db-font h4{
	font-size: 24px!important;
}

.col-20{
	width: 21.22%;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.col-5{
	width: 5%;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    font-size: 34px;
    top: 27px;
}
.col_sm_5{
	width: 20%;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.small-box h3{
	font-size: 25px!important;
}
.col_sm_5 .small-box h3{
	font-size: 22px!important;
}
.small-box>.small-box-footer{
	padding: 0px 0!important;
	color: #ffffff!important;
}
.col-height{
	height: 100px;
}
.span-center{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.col-height .col-lg-4{
	height: 100%
}

.col-height .border_right{
	border-right: 1px solid #F3F3F3;
}
